-- Supabase権限確認と設定用SQL

-- 1. import_jobsテーブルの権限確認
SELECT 
    schemaname, 
    tablename, 
    rowsecurity 
FROM pg_tables 
WHERE tablename = 'import_jobs';

-- 2. import_jobsのRLSポリシー確認
SELECT 
    schemaname, 
    tablename, 
    policyname, 
    permissive, 
    roles, 
    cmd, 
    qual, 
    with_check 
FROM pg_policies 
WHERE tablename = 'import_jobs';

-- 3. staging_importsテーブルの権限確認
SELECT 
    schemaname, 
    tablename, 
    rowsecurity 
FROM pg_tables 
WHERE tablename = 'staging_imports';

-- 4. staging_importsのRLSポリシー確認
SELECT 
    schemaname, 
    tablename, 
    policyname, 
    permissive, 
    roles, 
    cmd, 
    qual, 
    with_check 
FROM pg_policies 
WHERE tablename = 'staging_imports';

-- 5. process_import_batch関数の権限確認
SELECT 
    n.nspname as schema_name,
    p.proname as function_name,
    pg_get_function_identity_arguments(p.oid) as arguments,
    r.rolname as owner
FROM pg_proc p
JOIN pg_namespace n ON p.pronamespace = n.oid
JOIN pg_roles r ON p.proowner = r.oid
WHERE p.proname = 'process_import_batch';

-- 6. 必要なRLSポリシーを作成（存在しない場合）

-- import_jobsテーブルのポリシー
DO $$
BEGIN
    -- anonロール用のINSERTポリシー
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'import_jobs' 
        AND policyname = 'anon_insert_import_jobs'
    ) THEN
        CREATE POLICY anon_insert_import_jobs ON import_jobs
        FOR INSERT TO anon
        WITH CHECK (true);
    END IF;

    -- anonロール用のSELECTポリシー
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'import_jobs' 
        AND policyname = 'anon_select_import_jobs'
    ) THEN
        CREATE POLICY anon_select_import_jobs ON import_jobs
        FOR SELECT TO anon
        USING (true);
    END IF;

    -- authenticatedロール用のINSERTポリシー
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'import_jobs' 
        AND policyname = 'authenticated_insert_import_jobs'
    ) THEN
        CREATE POLICY authenticated_insert_import_jobs ON import_jobs
        FOR INSERT TO authenticated
        WITH CHECK (true);
    END IF;

    -- authenticatedロール用のSELECTポリシー
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'import_jobs' 
        AND policyname = 'authenticated_select_import_jobs'
    ) THEN
        CREATE POLICY authenticated_select_import_jobs ON import_jobs
        FOR SELECT TO authenticated
        USING (true);
    END IF;
END $$;

-- staging_importsテーブルのポリシー
DO $$
BEGIN
    -- anonロール用のINSERTポリシー
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'staging_imports' 
        AND policyname = 'anon_insert_staging_imports'
    ) THEN
        CREATE POLICY anon_insert_staging_imports ON staging_imports
        FOR INSERT TO anon
        WITH CHECK (true);
    END IF;

    -- anonロール用のSELECTポリシー
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'staging_imports' 
        AND policyname = 'anon_select_staging_imports'
    ) THEN
        CREATE POLICY anon_select_staging_imports ON staging_imports
        FOR SELECT TO anon
        USING (true);
    END IF;

    -- authenticatedロール用のINSERTポリシー
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'staging_imports' 
        AND policyname = 'authenticated_insert_staging_imports'
    ) THEN
        CREATE POLICY authenticated_insert_staging_imports ON staging_imports
        FOR INSERT TO authenticated
        WITH CHECK (true);
    END IF;

    -- authenticatedロール用のSELECTポリシー
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'staging_imports' 
        AND policyname = 'authenticated_select_staging_imports'
    ) THEN
        CREATE POLICY authenticated_select_staging_imports ON staging_imports
        FOR SELECT TO authenticated
        USING (true);
    END IF;
END $$;

-- 7. staging_importsテーブルにjob_idカラムを追加（存在しない場合）
DO $$
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM information_schema.columns 
        WHERE table_name = 'staging_imports' 
        AND column_name = 'job_id'
        AND table_schema = 'public'
    ) THEN
        ALTER TABLE staging_imports ADD COLUMN job_id UUID REFERENCES import_jobs(id);
        RAISE NOTICE 'job_idカラムをstaging_importsテーブルに追加しました';
    ELSE
        RAISE NOTICE 'job_idカラムは既に存在します';
    END IF;
END $$;

-- 8. process_import_batch関数の実行権限を付与
GRANT EXECUTE ON FUNCTION process_import_batch(uuid) TO anon;
GRANT EXECUTE ON FUNCTION process_import_batch(uuid) TO authenticated;

-- 8. import_jobsテーブルのstatusカラムのチェック制約を確認
SELECT 
    conname as constraint_name,
    pg_get_constraintdef(oid) as constraint_definition
FROM pg_constraint 
WHERE conrelid = 'import_jobs'::regclass 
AND contype = 'c'
AND conname LIKE '%status%';

-- 9. import_jobsテーブルの構造を確認
SELECT 
    column_name, 
    data_type, 
    is_nullable, 
    column_default
FROM information_schema.columns 
WHERE table_name = 'import_jobs' 
AND table_schema = 'public'
ORDER BY ordinal_position;

-- 10. staging_importsテーブルの構造を確認
SELECT 
    column_name, 
    data_type, 
    is_nullable, 
    column_default
FROM information_schema.columns 
WHERE table_name = 'staging_imports' 
AND table_schema = 'public'
ORDER BY ordinal_position;

-- 10. 権限確認の最終チェック
SELECT 'import_jobs policies:' as check_type, count(*) as policy_count
FROM pg_policies WHERE tablename = 'import_jobs'
UNION ALL
SELECT 'staging_imports policies:' as check_type, count(*) as policy_count
FROM pg_policies WHERE tablename = 'staging_imports'
UNION ALL
SELECT 'process_import_batch function exists:' as check_type, 
       CASE WHEN EXISTS (
           SELECT 1 FROM pg_proc WHERE proname = 'process_import_batch'
       ) THEN 1 ELSE 0 END as policy_count;